name: Zolify Health Check
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Base Container
      run: docker build -t zolify/base ./docker
      
    - name: Build IMDb Job  
      run: docker build -t zolify/imdb ./jobs/imdb-sentiment
      
    - name: Test Base Endpoint
      run: |
        docker run --rm zolify/base curl localhost:8080/health
      
    - name: Test IMDb Job
      run: docker run --rm zolify/imdb
