name: Health Check Pipeline
on: [push]
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build base Docker
      run: docker build -t zolify/base ./docker
  imdb-train:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build & run sentiment model
      run: |
        docker build -t zolify/imdb ./jobs/imdb-sentiment
        docker run --rm zolify/imdb
